# Virtual environments
venv/
.venv/
env/
.env/

# Environment variables
.env
*.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Node modules
node_modules/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Byte-compiled / optimized
*.so
*.egg-info/
dist/
build/

# Web specific
.next/
logs/
*.log
.env.local
*.tsbuildinfo
